
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}

<h2>List</h2>

<table class=" table table-bordered">
    <tr>
        <th>Name</th>
        <th>Id</th>
    </tr>
    <tr>
        <td>Tanvir Ahemd</td>
        <td>12345</td>
    </tr>
</table>