<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Manger</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="/product/product" class="btn btn-success">Home</a></li>
            <li><a href="/product/list" class="btn btn-danger">Product List</a></li> 
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
        &copy;Adv .Net Spring 2021-2022
    </div>
</body>
</html>
 