
@{
    ViewBag.Title = "Education";
}

<h2>ACADEMIC QUALIFICATIONS</h2>

<table border="1">
    <tr>
        <th>Qualification</th>
        <th>Institution</th>
        <th>Year of completion</th>
        <th>Result</th>
    </tr>
    <tr>
        <td>BSc.</td>
        <td>AIUB</td>
        <td>2022</td>
        <td>3.82</td>
    </tr>
    <tr>
        <td>HSC</td>
        <td>ACC</td>
        <td>2018</td>
        <td>3.75</td>
    </tr>
    <tr>
        <td>SSC</td>
        <td>ACPS</td>
        <td>2016</td>
        <td>3.83</td>
    </tr>
</table>