
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>ID</th>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td>Tanvir Ahmed </td>
        <td> 19-39324-1</td>
    </tr>
</table>
