
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<ul><h4>OOP1</h4></ul>
<li>Topic         :Banking System</li>
<li>Cousre Teacher:Kawser Irom Rushee(Assistant Professor) </li>
<li>Duration :6 weeks</li>

<ul><h4>OOP2</h4></ul>
<li>Topic         :Hotel Managment System</li>
<li>Cousre Teacher:Tanvir Ahmed(Lecturer) </li>
<li>Duration :6 weeks</li>

<ul><h4>Web Tech</h4></ul>
<li>Topic         :E-clinic System</li>
<li>Cousre Teacher:Kazi Sadia(Lecturer) </li>
<li>Duration :6 weeks</li>