
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>

<ul></ul>
<li>ABHIJIT BHOWMIK</li>
<li>Associate Professor & Special Assistant [OSA], Computer ScienceAssociate Professor & Special Assistant [OSA], Computer Science </li>
<li>Email: abhijit@aiub.edu</li>
<ul></ul>
<li>Dr. Mahbub Chowdhury Mishu</li>
<li>Assistant Professor & Head [Undergraduate Program], Computer Science </li>
<li>Email: mishu@aiub.edu</li>