
@{
    ViewBag.Title = "submit";
    Layout = "~/Views/Shared/_LoggedIn.cshtml";
}

<h2>submit</h2>

<h4>Name : @Model.Name</h4>
<h4>Name : @Model.Id</h4>
<h4>Name : @Model.Dob</h4>
<h4>Name : @Model.Email</h4>

